name: Release

on:
  push:
    branches:
      - main
      - develop
      - 'release/**'
      - 'hotfix/**'
      - 'feature/**'
      - 'fix/**'

  workflow_dispatch:

env:
  GPR_USER: ${{ secrets.GPR_USER }}
  GPR_KEY: ${{ secrets.GPR_KEY }}

jobs:
  ci-checks:
    uses: ./.github/workflows/ci.yml
    secrets:
      PACKAGES_TOKEN: ${{ secrets.PACKAGES_TOKEN }}

  release:
    needs: ci-checks
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    
    permissions:
      contents: write
      issues: write
      pull-requests: write
      packages: read

    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        semantic_version: 24.0.8
        extra_plugins: |
          gradle-semantic-release-plugin
          @semantic-release/commit-analyzer
          @semantic-release/release-notes-generator
          @semantic-release/changelog
          @semantic-release/git
          @semantic-release/github
          @semantic-release/exec
